@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap");
html,
body{
color:rgb(8, 8, 133);
background-color: palevioletred;
font-family:rubik;
font-weight: bold;
margin: auto;
padding: 3px 6px;
text-align: center;
font-size: 125%;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: fantasy;
    font-weight: bolder;
    margin: auto;
}
img{
    height: 25%;
    width: 30%;
    max-width: 50%;
    
}
header {
    background: #5c8994;
    border-bottom: 4px solid #4f677d;
    border-top: 4px solid #4f677d;
    color: #a736d4;
    font-size: x-large;
    font-family: fantasy;
    text-align: center;
    text-shadow:blueviolet;
    

}

header h1 {
    padding: 40px;
   
    
}

header h1 span {
    font-family: fantasy;
    font-size: 100%;
    scroll-margin-right: 15px;
}

.centered {
    display:grid;
    gap:15px;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px auto;
    width: 75%;
}
button {
    border: 2px solid #945c86;
    border-radius: 5px;
    background: #4f7d5d;
    color: #090909;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    padding: 25px;
}
button:hover {
    border: 2px solid #682a98;
    background: #625c94;
}
 input.button:hover {
    background-color:grey;
    height: 60%;
    width:40% ;
    
} 
.card {
    border: 3px solid #4f7d5d;
    padding: 25px;
}
.hidden {
    text-decoration-color:  rgb(67, 66, 66);
    visibility: hidden;
}